*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}


img{
  max-width: 100%;
}
/*-- FONT --*/
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: 'Playfair Display', serif;
  color: #95989A;
}
h1, h2 {
  font-family: 'Satisfy', cursive;
}
h1{
  color: #fff;
  font-size: 7rem;
  text-align: center;
  padding: 15vh 4%;
}
h2{
  color: #000;
  font-size: 4.5rem;
}
h3 {
  text-transform: uppercase;
  color: #000;
}

p {
  padding: 1rem 0;
}


/*  HELPER */
.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

.img-circle {
    border-radius: 50%;
  }

[class*="bg"] {
  background-position: center;
  background-size: cover;
}

.blog   [class*="bg"],.navsec [class*="bg"] {
  text-align: center;
  min-height: 50vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9px 0;
}

.button {
  background-color: rgba(255, 255, 255, 0.56);
  border: 1px solid #95989A;
  margin:0 5px;
  padding: 5px 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: .2s;
}

.button:hover{
  transform: scale(1.1);
}

.under{
  border-bottom: 1px solid #95989A;
  padding-bottom: 2px;
}

section{
  padding: 3%;
}

.padded-0{
  padding: 0;
}

.padded-2 {
  padding: 2%;
}

.padded-5 {
  padding: 5%;
}

.padded-1-5{
  padding: 1.5%;
}

/*-- LINES --*/
hr.line2{
	border-top: 1px solid #8c8b8b;
  padding: 0;
  margin: 0% 5%;
}
.linefooter{
  border-top: 1px solid #8c8b8b;
  padding: 0;
  margin: 0%;
}



/*-- HEADER --*/
.banner-bg {
  background-color: rgb(90,90,95);
  min-height: 80vh;
  background-position: 1% 50%;
  position: relative;
}
header svg {
  width: 26px;
  margin: 1px;
  }
header .social{
  position: absolute;
  bottom: .8vh;
  right: 1vw;
}

header nav{
  padding: 0 4%;
  text-transform: uppercase;
  text-align: right;
  background-color: rgba(255,255,255,0.4);
  color: black;
  width:100%;
}
header nav [class*="col"] {
  padding:1%;
}

header nav a {
  padding: 1%;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0);
  overflow: visible;
}

header nav span {
  display: block;
  white-space: nowrap
}

.small-banner{
  background-color: #D7E8F4;
  padding-bottom: 1%;
}
#disqus_thread{
  padding-top: 5%;
}


/*-- SUBSCRIBE SECTION --*/
.subscribe {
  min-height: 50vh;
  background-color: #D7E8F4;
  align-content: center;
}
.subscribe p {
  font-size: 1.2rem;
}
 input,textarea{
  -webkit-appearance: none;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: .8rem;
  margin: 5px auto;
  width: 40vw;

}

input[type="submit"]{
    width: 10vw;
}
.contact-form{
  width: 100%;
}

.contact-form input, .contact-form textarea{
  display: block;
  margin: 2% auto;
}




/* Blog post Loop on blog page */
.post-preview .bg-image {
  padding-bottom:50%;
}

/* blog post styles */

.blog-post h1,
.blog-post h2  {
  text-transform: uppercase;
  color: #000;
  font-family: 'Playfair Display';
  padding: 0;
  margin: 0.5em 0;
  font-size: 2rem;
  text-align:inherit;
}
.blog-post h2  { font-size: 1.5rem;}


/*-- BACKGROUND IMAGES --*/
.blog-1-bg {
  background-image: url(images/gilinav.JPG);
}
.blog-2-bg {
    background-image: url(images/feelinglostnav.png);
}
.blog-3-bg {
    background-image: url(images/skydivenav.png);
}
.blog-bg{
  background-image: url(/images/blognav.jpg);
}
.blog-banner{
  background-image: url("/images/blog.JPG")

}
.navsec .contact-bg{
  background-image: url(images/contactnav.jpg);
  min-height: 25vh;
}
.services-bg{
  background-image: url(images/servicesnav.jpg);
}
.about-me-bg{
  background-image: url(images/aboutmenav.jpg);
}
.lifestyle-bg{
    background-image: url(images/lifestyle.jpg);
}
.travel-bg{
    background-image: url(images/travel.JPG);
}
.food-bg{
    background-image: url(images/food.JPG);
}

.year-bg{
  background-image: url(/images/years.jpg);
}




/*-- FOOTER --*/

footer svg {
  width: 56px;
}
footer .img-circle{
    width: 200px;
    margin: auto;
    display: block;
}
footer {
  min-height: 35vh;
  background-color: #D7E8F4;
}
footer a {
  color: #95989A;
}
footer p {
  text-align: center;
  padding-top: 13px;
}
.topbtn{
  position: fixed;
  z-index: 9;
  font-size: 2rem;
  bottom: 4px;
  right: 18px;
}
.sidebars{
  border-left: 1px solid #95989A;
  border-right: 1px solid #95989A;
}
footer{
  padding-top: 3%;
  padding-bottom: 0;
}

.copyright {
  padding: 0.5rem;
}

.archive ul{
  font-size: 1.3rem;
}

.fa{
  padding: 2px;
}
