*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
[class*=grid-], [class*=grid_], [class~=grid]{
  margin:0;
}


img{
  max-width: 100%;
}
/*-- FONT --*/
a{
text-decoration: none;
color: inherit;
}
body{
  font-family: 'Playfair Display', serif;
  color: #95989A;
}
h1, h2 {
  font-family: 'Satisfy', cursive;
}
h1{
  color: #fff;
  font-size: 6rem;
  text-align: center;
  padding: 4%;
}
h2{
  color: #000;
  font-size: 4.5rem;
}
h3 {
  text-transform: uppercase;
  color: #000;
}

/*  HELPER */
.text-center{
  text-align: center;
}

.img-circle {
    border-radius: 50%;
  }

  [class*="bg"] {
    background-position: center;
    background-size: cover;

  }

  .blog   [class*="bg"],.navsec [class*="bg"] {
    text-align: center;
    min-height: 50vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px 0;
}

.button {
  background-color: rgba(255, 255, 255, 0.56);
  border: 1px solid #95989A;
  margin:0 5px;
  padding: 5px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
section{
  padding: 3%;
}

/*-- LINES --*/
hr.line2{
	border-top: 1px solid #8c8b8b;
  padding: 0;
  margin: 0% 5%;
}



/*-- HEADER --*/
.home-bg {
  background-image: url(images/homeheader.JPG);
  min-height: 80vh;
  background-position: 1% 50%;
  position: relative;
}
header svg {
  width: 26px;
  margin: 1px;
  }
header .social{
  position: absolute;
  bottom: .8vh;
  right: 1vw;
}

header nav{
  padding: 1% 0%;
  text-transform: uppercase;
  border-bottom: 1px solid #95989A;
  text-align: right;
  margin: 0 4%;
}
header nav a {
  padding: 0% 1%;
  display: inline-block;
}


/*-- SUBSCRIBE SECTION --*/
.subscribe {
  min-height: 50vh;
  background-color: #D7E8F4;
  align-content: center;
}
.subscribe p {
  font-size: 1.2rem;
}
.subscribe input{
  -webkit-appearance: none;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: .8rem;
  margin: 5px auto;
  width: 40vw;
  height: 5vh;
}

input[type="submit"]{
    width: 10vw;
}

/*-- BACKGROUND IMAGES --*/
.blog-1-bg {
  background-image: url(images/gilinav.JPG);
}
.blog-2-bg {
    background-image: url(images/feelinglostnav.png);
}
.blog-3-bg {
    background-image: url(images/skydivenav.png);
}
.blog-bg{
  background-image: url(images/blognav.jpg);
}
.navsec .contact-bg{
  background-image: url(images/contactnav.jpg);
  min-height: 25vh;
}
.services-bg{
  background-image: url(images/servicesnav.jpg);
}
.about-me-bg{
  background-image: url(images/aboutmenav.jpg);
}




/*-- FOOTER --*/

footer svg {
  width: 56px;
}
footer .img-circle{
    width: 200px;
    margin: auto;
    display: block;
}
footer {
  min-height: 35vh;
  background-color: #D7E8F4;
}
footer a {
  color: #95989A;
}
footer p {
  text-align: center;
  padding-top: 13px;
}
.topbtn{
  position: fixed;
  z-index: 9;
  font-size: 2rem;
  bottom: 4px;
  right: 18px;
}
.sidebars{
  border-left: 1px solid #95989A;
  border-right: 1px solid #95989A;
}
footer{
  padding-top: 3%;
  padding-bottom: 0;
}



/*nav section*/


  .navsec{
  background-image:url(images/svg-1.svg);
  background-position: center;
  background-size: cover;
  }

  .navsec2{
  background-image:url(images/svg-2.svg);
  background-position: center;
  background-size: cover;
  }
