<section>
<div class="grid-middle-center padded-2">
  <hr class="col-3_sm-12 line2">
  <h3>explore</h3>
  <hr class="col-3_sm-12 line2">
</div>


<section class="grid-center-middle navsec">
  <div class="col-3_sm-12">
    <a href="/lifestyle">
      <div class="lifestyle-bg">
        <h3 class="button" >Lifestyle</h3>
      </div>
    </a>
  </div>

  <div class="col-3_sm-12">
    <a href="/travel">
      <div class="travel-bg">
        <h3 class="button" >travel</h3>
      </div>
    </a>
  </div>

  <div class="col-3_sm-12">
    <a href="/food">
      <div class="food-bg">
        <h3 class="button" >Food</h3>
      </div>
    </a>
  </div>
</section>
</section>
