<!-- TOP BANNER -->
  <header class="blog-header">
  <h2 class="logo">iAmNicolaJoan</h2>
  <div class="small-banner">
    <nav class="mobile-hide">
        <a href="/index">Home</a> /
        <a href="/blog">Blog</a> /
        <a href="/about">About</a> /
        <a href="/services">Work with me</a> /
        <a href="/contact">Contact</a>
    </nav>
  </div>
  </header>

<nav>
  <div class="burger-button mobile-show">
      <span class="burger-top"></span>
      <span class="burger-middle"></span>
      <span class="burger-bottom"></span>
  </div>
   <div class="burger-menu">
    <ul>
      <li>
      <a href="/index">Home</a>
      </li>
      <li>
      <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/services">Work with me</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
