<!-- 3rd PAGE-SUBSCRIBE SECTION -->
<section class="grid-middle-center text-center small-light-banner subscribe">
  <!-- <div class="col">
  <h2>Subscribe</h2>
  <p class="padded-0">Email alerts for new content on the blog.</p>
<form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Iamnicolajoan', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <p><input type="text" placeholder="Your email" name="email"/></p>
  <input type="hidden" value="Iamnicolajoan" name="uri"/><input type="hidden" name="loc" value="en_US"/>
  <input type="submit" class="button" value="Subscribe" />
</form>
</div>

 -->



<!-- Begin MailChimp Signup Form -->
<div class="col" id="mc_embed_signup">
<form action="https://iamnicolajoan.us17.list-manage.com/subscribe/post?u=8573f0b2e56eb42cf6cc230a8&amp;id=ddb4d58969" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
    	<label for="mce-EMAIL">
        <h2>
        Subscribe
      </h2>
      <p>Email alerts for new content on the blog.</p>
</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8573f0b2e56eb42cf6cc230a8_ddb4d58969" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

</section>
<!--End mc_embed_signup-->
