<!-- 3rd PAGE-SUBSCRIBE SECTION -->
<section class="grid-middle-center text-center small-light-banner subscribe">
  <div class="col">
  <h2>Subscribe</h2>
  <p class="padded-0">Email alerts for new content on the blog.</p>
<form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Iamnicolajoan', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
  <p><input type="text" placeholder="Your email" name="email"/></p>
  <input type="hidden" value="Iamnicolajoan" name="uri"/><input type="hidden" name="loc" value="en_US"/>
  <input type="submit" class="button" value="Subscribe" />
</form>
</div>
</section>
