---
layout: default
banner_title: Blog
banner_image: /images/blog.JPG
banner_class: home-bg
---



<section>
  <!-- this my loop of most recent blog posts -->
  <div class="grid-middle-center padded-2">
    <hr class="col-3 line2">
    <h3>Recent {{page.title}} Posts</h3>
    <hr class="col-3 line2">
  </div>
  <div class="grid">
    {% for item in site.categories[page.category] limit:6 %}

      <div class="col-6 post-preview padded-2">
        <a href="{{item.url}}">
          <h3 class="text-center"> {{item.title}} </h3>
          <p class="date text-center padded-1-5"> {{item.date | date:"%A %e %B %Y" }} </p>
          <div class="bg-image" style="background-image:url('{{item.featured_image}}')"></div>
          <p> {{item.excerpt}} </p>
        </a>
          {% include social-sharing.html %}
    </div>

   {% endfor %}

</div>
</section>

<section>

{% include explore-categories.html %}
</section>

{% include subscribe.html %}
